@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins'
}

.user-card {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  background-color: 47B5FF;
}